.ds-3col-equal {
  
  padding-top:1.5em;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 30px;
  // background:$gris_90;
  
	.group-left	{
  			grid-column:span 2;

  }
  .group-middle {
    grid-column:span 10;
  }
  .group-right {grid-column:span 12;}
}

