.region-help {
  .block-header h2 {
    // display:none;
  }

  
}


#region-button-help {
  width:100%;
  background:red;
  position:relative;
  background:black;
}

#btn-help {
  @include menu-icon();
  width:1.5em;
  height:1.5em;
  // background:red;
  display:block;
  position:absolute;
  top:-50px;
  right:20px;
  
  
  &:before {
    // content:"\ea09";
    // opacity:.5;
    // background-color:black;
   background-image: url(../images/icons/help.svg);
     width:1.6em;
  height:1.6em;
  }
  &:hover,
  &.active {
    // padding-bottom:1.5em;
     // top:-80px;
      &:before {
        opacity:1;
      }
  }
  
}
#help-text {
  max-width:$device_max;
  // opacity:0;
  // height:1px;
  // display:none;
  // overflow:hidden;
  
  background:$gris_95;background:white;
  border:1px solid black;
  padding:2em;
  margin:0 auto 30px ;
  border-radius: 6px;
  // margin-top:1.5em;
  &.active {
    // margin-top:3em;
    // display:block;
    // height:auto;
  }
  &:before {
    
    
  }

}


.region-help {
   max-width:$device_max;
  // opacity:0;
  // height:1px;
  // display:none;
  // overflow:hidden;
  margin:0 auto;
  .block {
    background:$gris_95;background:white;
  border:1px solid $gris_80;
  padding:2em;
  margin:1.5em 0;
  border-radius: 6px;
  }
  
  
}