.menu--footer {
    .menu {
        display:flex;
        justify-content: center;

        a {
            text-transform:uppercase;
            padding:.5em;
            
        }
    }

}