
.view-slideshow {
    
    .view-content {
        width:100%;
    }
    padding-top:1.5em;
    // .views-field-title {
    //     position:relative;
    //     background:transparentize(black,.3);
    //     color:white;
    //     top:-120px;
    //     left:30px;
    //     padding:20px;
    //     display:inline-block;
    // }
}
main .block-views-blockslideshow-block-1 {
    background:transparent;
}
